<% provide(:title, 'Password reset') %>

<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <h2 style="text-align:center;font-family:'Raleway',sans-serif;">Change your password</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= render 'devise/shared/error_messages' %>

      <%= f.hidden_field :reset_password_token %>

      <div class='form-group'>
        <%= f.label :password, 'New password' %><br />
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, class: 'form-control'%>
      </div>

      <div class='form-group'>
        <%= f.label :password_confirmation, 'Confirm new password' %><br />
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <%= f.submit "Change my password", class: 'btn btn-secondary' %>

        <p style="font-weight: bold">New User? <%=link_to 'Sign Up Now', new_user_registration_path, class: 'btn btn-link' %></p>
        <p style="font-weight: bold">Existing User? <%=link_to 'Sign In Now', user_session_path, class: 'btn btn-link' %></p>

      <% end %>
    </div>
  </div>
</div>
