
<table class="table table-bordered">

  <thead class="thead-dark">
    <% @events.each do |event| %>
    <tr>
      <th scope="col">Time/Day</th>
      <th scope="col"><%= event.day_of_week %></th>
      <th scope="col"><%= event.day_of_week %></th>
      <th scope="col"><%= event.day_of_week %></th>
      <th scope="col"><%= event.day_of_week %></th>
      <th scope="col"><%= event.day_of_week %></th>
      <th scope="col"><%= event.day_of_week %></th>
      <th scope="col"><%= event.day_of_week %></th>
    </tr>
    <% end %>
  </thead>

  <tbody>
    <% @events.each do |event| %>
    <tr>
      <th scope="row"><%= event.start_at %>-<%= event.end_at %></th>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= event.start_at %>-<%= event.end_at %></th>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= event.start_at %>-<%= event.end_at %></th>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= event.start_at %>-<%= event.end_at %></th>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= event.start_at %>-<%= event.end_at %></th>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= event.start_at %>-<%= event.end_at %></th>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= event.start_at %>-<%= event.end_at %></th>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= event.start_at %>-<%= event.end_at %></th>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= event.start_at %>-<%= event.end_at %></th>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= event.start_at %>-<%= event.end_at %></th>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= event.start_at %>-<%= event.end_at %></th>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= event.start_at %>-<%= event.end_at %></th>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= event.start_at %>-<%= event.end_at %></th>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
      <td><%= event.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
