<div class="container">
  <div class="row">
    <div class="col-sm-12">

<table class="table">
  <h3 style="text-transform: uppercase;text-decoration:underline;text-align:center;">Promotions</h3>
  <br>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col">Active</th>

    </tr>
  </thead>
  <tbody>
    <% @promos.each do |promo| %>
    <tr>

      <td><%= link_to promo.name, promo_admin_path(promo) %></td>
      <td><%= promo.title %></td>
      <td class="text-truncate"><%= promo.content%></td>
      <td><%= promo.active? %></td>
      <td><%= link_to 'Show', promo_admin_path(promo), class: 'badge badge-light' %></td>
      <td><%= link_to 'Edit', edit_promo_admin_path(promo), class: 'badge badge-light' %></td>
      <td><%= link_to 'Destroy', promo_admin_path(promo), method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-light' %></td>

    </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
</div>
<%= raw paginate @promos %>
