

%header#header.header
	.container
		.logo
			%a{:href => '/'}
				%img.logo-light{:alt => Pulitzer.app_name, :src => image_path("logo-white.png")}/
				%img.logo-dark{:alt => Pulitzer.app_name, :src => image_path("logo-black.png")}/



		/ Rightside menu
		.side-menu-btn
			%ul
				/ Sidebar Menu Icon
				%li
					%a#menu-sidebar-list-icon.nav-bar-icon
						%span
				/ End Sidebar Menu Icon
		/ End Rightside Menu


		/ Navbar Navigation

		.ul.aria.label

		.nav-menu.singlepage-nav
			%ul.nav-menu-inner
				%li
					%a.link.ion.ion-social-instagram{:href => "https://www.instagram.com/", :target => "_blank"}
				%li
					%a.link.ion-social-facebook{:href => "https://www.facebook.com/", :target => "_blank"}
				%li
					%a{:href => "#intro"} Home
				%li
					%a{:href => "#about"} About
				%li
					%a{:href => "#workouts"} Services
				%li
					%a{:href => "#staff"} Staff
				%li
					%a{:href => "#contact-us"} Contact


= render 'application/flash', args: {}



/ Intro
%section#intro.intro
	/ Static Intro
	.bg-image.overlay-dark.dark-bg.bg-fixed{"data-background-img" => 'http://crossfit2120.com/wp-content/uploads/2016/04/image-21.jpeg'}
		.js-fullscreen-height.container
			.intro-content
				.intro-content-inner
					%h2.h2 #{Pulitzer.app_name}
					.row
						%p.lead.col-md-6.offset-md-3
							Great Fitness in North County San Diego
					%br/
					%div
						-# %a.btn.btn-md.btn-white-line.xs-hidden{} Read More
						-# %span.btn-space-10.xs-hidden
						%a.btn.btn-md.btn-black{ href: '#about' } Learn More
	/ End Static Intro
/ End Intro
.clearfix



/ About Section
%section#about.wow.fadeIn.ptb.ptb-sm-80.animated
	.container.mb-60
		.row.text-center
			.col-md-6.wow.slideInUp{"data-wow-delay" => "0.2s", "data-wow-duration" => "1s"}
				%img{:alt => "mockup", :src => 'http://crossfit2120.com/wp-content/uploads/2013/12/Blacks_surfer.jpg', :style => "max-width: 457px; width: 100%;"}/
			.col-md-6.wow.fadeIn{"data-wow-delay" => "0.4s", "data-wow-duration" => "2s"}
				.spacer-15
				%h6.page-title-alt.color.mb-10 #{Pulitzer.app_name}
				%h2.page-title.mb-25
					About Us
				%p.mb-35
					CrossFit 2120 is exclusively located in coastal Del Mar, California. We are a unique training and workout facility nestled in the heart of the town, just two blocks from the Pacific Ocean and the Del Mar Fairgrounds. We are literally located – as Del Mar’s town motto says – “where the surf meets the turf.”


				%p.mb-35
					We have a 2,400 square foot main facility and a 600 square foot private training annex. Our world-class training center has some of the best running routes in all of North County San Diego. Our gym uses barbells, kettlebells, dumbbells, jump ropes, slam balls, medicine balls, squat racks, pull up racks, and lots of other equipment. We have great tools at our disposal to generate great movement and help our athletes reach their potential.


/ End About Section


/ About Section 2
-#
	%section#about2.wow.fadeIn.ptb.ptb-sm-80.animated.text-center.gray-bg
		.container
			.row
				.col-md-4.col-sm-6.content-box.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.2s", "data-wow-duration" => "2s"}
					.icon-top.icon-black
						%i.icon.icon-basic-anchor
					%h5.features-title We’re Creative
					%p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
				.col-md-4.col-sm-6.content-box.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.4s", "data-wow-duration" => "2s"}
					.icon-top.icon-black
						%i.icon.icon-basic-alarm
					%h5.features-title TWe have magic
					%p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
				.col-md-4.col-sm-6.content-box.mb-sm-30.wow.fadeIn{"data-wow-delay" => "0.6s", "data-wow-duration" => "2s"}
					.icon-top.icon-black
						%i.icon.icon-basic-globe
					%h5.features-title Why we do it
					%p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo.
/ End About Section 2

/ Services Section
%section#workouts.wow.fadeIn.ptb.ptb-sm-80.animated
	.container
		%h3.float-left.float-none-xs Services you offer: crossfit, personal training, kokoro , kids
		-#%a.btn-link-a.float-right.float-none-xs{ href: pulitzer.articles_path() } View All
		.clearfix
		.spacer-60
		.row

			-# @articles.each_with_index do |article, index|
				.col-lg-4.col-md-6.col-sm-6.mb-sm-30
					- unless index == 0
						%hr
					= render 'pulitzer/articles/blog_post', media: article, args: { mode: :thumb }
/ End Services Section

/ Staff Section
%section#staff.wow.fadeIn.ptb.ptb-sm-80.animated
	.container
		%h3.float-left.float-none-xs STAFF
		-#%a.btn-link-a.float-right.float-none-xs{ href: pulitzer.articles_path() } View All
		.clearfix
		.spacer-60
		.row

			-# @articles.each_with_index do |article, index|
				.col-lg-4.col-md-6.col-sm-6.mb-sm-30
					- unless index == 0
						%hr
					= render 'pulitzer/articles/blog_post', media: article, args: { mode: :thumb }
/ End of staff section





/ Contact Form
%section#contact-us.wow.fadeIn.ptb.ptb-sm-80.animated.dark-bg.overlay-dark.bg-image.overlay-dark60{"data-background-img" => 'http://crossfit2120.com/wp-content/uploads/2018/09/GDMF-2018.jpg', "data-stellar-background-ratio" => "0.5"}
	.container
		.row.text-center
			.col-12
				%h6.page-title-alt.color.mb-15 Wanna say hello?
				%h2.page-title
					Get In
					%span.text-light Touch
		.row
			.col-md-8.offset-md-2

				= form_for Scuttlebutt::Message.new, url: scuttlebutt.contacts_path, html: { id: 'contact-form', class: 'row contact-form' } do |f|
					.col-md-12.text-center
						%h5.successContent
							%i.fa.fa-check.left{:style => "color: #5cb45d;"}>
							Your message has been sent successfully.
						%h5.errorContent{:style => "color: #e1534f;"}
							%i.fa.fa-exclamation-circle.left>
							There was a problem validating the form please check!
					.col-md-6
						.form-field-wrapper
							= f.text_field :name, id: 'form-name', :placeholder => "Your Name", required: true, class: 'input-md form-full'
						.form-field-wrapper
							= f.email_field :email, id: 'form-email', :placeholder => "Email", required: true, class: 'input-md form-full'
						.form-field-wrapper
							= f.text_field :title, id: 'form-subject', :placeholder => "Subject", class: 'input-md form-full'
					.col-md-6.mb-0
						.form-field-wrapper
							= f.text_area :content, id: 'form-message', :placeholder => "Your Message", :required => true, rows: 7, class: 'input-md form-full'
					.col-md-12.text-center
						%button#form-submit.btn-contact-submit.btn.btn-md.btn-color{:name => "submit", :type => "submit"} Submit
/ End Contact Form


-#%section#social.gray-bg.ptb.ptb-sm-80
	.container.text-center
		.row
			-#.col-md-8.offset-md-2
				-#%h3 Get In Touch
		.spacer-60
		.row
			.col-md-8.offset-md-2
				.row
					.col-md-3.col-sm-4.col-6
						.page-icon-top
							%i.ion.ion-social-instagram
						%h6
							%a.link{:href => "https://www.instagram.com/", :target => "_blank"} Instagram
					.col-md-3.col-sm-4.col-6
						.page-icon-top
							%i.ion.ion-social-facebook
						%h6
							%a.link{:href => "https://www.facebook.com/", :target => "_blank"} Facebook


					-#.col-md-3.col-sm-4.col-6
						-#.page-icon-top
							-#%i.ion.ion-social-googleplus
						-#%h6
							-#%a.link{:href => "https://plus.google.com/", :target => "_blank"} Google plus
					-#.col-md-3.col-sm-4.col-6
						-#.page-icon-top
							-#%i.fab.fa-linkedin
						-#%h6
							-#%a.link{:href => "https://www.linkedin.com/", :target => "_blank"} Linkedin
