<div class="container">
  <div class="row">
    <div class="col-sm-12">

<table class="table">
  <h3 style="text-transform: uppercase;text-decoration:underline;text-align:center;">Submitted waivers</h3>
  <br>
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">Date of birth</th>
      <th scope="col">Sign date</th>
    </tr>
  </thead>
  <tbody>
    <% @waivers.each do |waiver| %>
    <tr>

      <td><%= link_to waiver.email, waiver_admin_path(waiver) %></td>
      <td><%= waiver.name %>
      <td><%= waiver.dob %>
      <td><%= waiver.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
</div>
<%= will_paginate @waivers %>
