<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col"><%= @waiver.name %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Date of Birth</th>
            <td><%= @waiver.dob %></td>
          </tr>
          <tr>
            <th scope="row">Street</th>
            <td><%= @waiver.street %></td>
          </tr>
          <tr>
            <th scope="row">City</th>
            <td><%= @waiver.city %></td>
          </tr>
          <tr>
            <th scope="row">State</th>
            <td><%= @waiver.state %></td>
          </tr>
          <tr>
            <th scope="row">Zip Code</th>
            <td><%= @waiver.zip %></td>
          </tr>
          <tr>
            <th scope="row">Phone Nr</th>
            <td><%= @waiver.phone %></td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td><%= @waiver.email %></td>
          </tr>
          <tr>
            <th scope="row">Emergency Contact Name</th>
            <td><%= @waiver.emergency_contact_name %></td>
          </tr>
          <tr>
            <th scope="row">Emergency Conatact Pnone</th>
            <td><%= @waiver.emergency_contact_phone %></td>
          </tr>
          <tr>
            <th scope="row">Signature</th>
            <td><%= @waiver.signature %></td>
          </tr>
          <tr>
            <th scope="row">Date signed</th>
            <td><%= @waiver.sign_date %></td>
          </tr>
          <tr>
            <th scope="row">Legal Guardian Name</th>
            <td><%= @waiver.legal_guardian_name %></td>
          </tr>
          <tr>
            <th scope="row">Legal Guardian Signature</th>
            <td><%= @waiver.legal_guardian_signature %></td>
          </tr>
          <tr>
            <th scope="row">Legal Guardian Date Signed</th>
            <td><%= @waiver.legal_guardian_sign_date %></td>
          </tr>
          <tr>
            <th scope="row">Heart Condition</th>
            <td><%= @waiver.heart_condition %></td>
          </tr>
          <tr>
            <th scope="row">Chest pain during physical activity</th>
            <td><%= @waiver.chest_pain_doing_activity %></td>
          </tr>
          <tr>
            <th scope="row">Chest pain when not doing physical activity</th>
            <td><%= @waiver.chest_pain_without_doing_activity %></td>
          </tr>
          <tr>
            <th scope="row">Lose balane or consiousness</th>
            <td><%= @waiver.lose_balance %></td>
          </tr>
          <tr>
            <th scope="row">Bone or joint problem</th>
            <td><%= @waiver.bone_problem %></td>
          </tr>
          <tr>
            <th scope="row">Prescription drugs</th>
            <td><%= @waiver.prescription_drugs %></td>
          </tr>
          <tr>
            <th scope="row">Any other reason not to work out</th>
            <td><%= @waiver.other_reason_not_to_do_activity %></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
