
<%= form_with(model: log, local: true) do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class='form-group'>
    <%= form.label :workout_date, 'Workout date' %>
    <%= form.text_field :workout_date, class: 'form-control' %>
  </div>



  <div class='form-group'>
    <%= form.label :workout, 'Workout' %>
    <%= form.text_area :workout, class: 'form-control' %>
  </div>

<%= form.submit "Log your workout", class: 'btn btn-secondary' %>
<% end %>
