<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>

      <h2 style="text-align:center;font-family:'Raleway',sans-serif;">Logs</h2>
      <p><%= link_to 'New Log', new_log_path, class: 'btn btn-lg btn-outline-primary' %></p>
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th style="width: 150px;">Workout date</th>
            <th style="width: 1000px;">Workout</th>
          </tr>
        </thead>

        <tbody>
          <% @logs.each do |log| %>
            <tr>
              <td><%= log.workout_date %></td>
              <td><%= log.workout %></td>
              <td><%= link_to 'Show', log, class: 'badge badge-light' %></td>
              <td><%= link_to 'Edit', edit_log_path(log), class: 'badge badge-light' %></td>
              <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-light' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
