
<div class="container pt-80">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">

      <p id="notice"><%= notice %></p>

          <td>
            <strong>Workout date:</strong>
            <%= @log.workout_date %>
          </td>

          <br>

          <td>
            <strong>Workout:</strong>
            <%= @log.workout %>
          </td>

          <br>

      <%= link_to 'Edit', edit_log_path(@log), class: 'badge badge-light' %> |
      <%= link_to 'Back', logs_path, class: 'badge badge-light' %>

    </div>
  </div>
</div>
