<p id="notice"><%= notice %></p>

<p>
  <strong>Workout date:</strong>
  <%= @log.workout_date %>
</p>

<p>
  <strong>Workout:</strong>
  <%= @log.workout %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
