/ FOOTER
%footer.footer.navbar-dark.bg-dark.pt-5

	.container
		= render 'root/mailer'
		/ Footer Info
		-#.row
			.col-sm-6
				= form_for :contact, :url => main_app.contacts_path do |f|
					.form-field-wrapper
						= f.text_field :name, id: 'form-name', :placeholder => "Your Name", required: true, class: 'input-md form-full'
					.form-field-wrapper
						= f.email_field :email, id: 'form-email', :placeholder => "Email", required: true, class: 'input-md form-full'
			.col-sm-6
				= form_for :contact, :url => {:controller => 'contacts', :action => 'create'} do |f|
					.form-field-wrapper
						= f.text_area :message, id: 'form-message', :placeholder => "Your Message", :required => true, rows: 7, class: 'input-md form-full'

			%hr/
			/ Copyright Bar
	.container
		.pt-60
			.row
				.col-sm-12
					%p{:style => "font-size:10px;"}
						© #{Time.current.year}
						Crossfit2120 | Designed and coded by Lali
						-#%a{:href => "https://instagram.com/2120_del_mar"}
							-#%i.fab.fa-instagram
						-#%a{:href => "https://www.facebook.com/", :target => "_blank"}
							-#%i.fab.fa-facebook
					/ End Copyright Bar
				/ END FOOTER
				/ Scroll Top
				%a.scroll-top
					%i.fa.fa-angle-double-up
				/ End Scroll Top
